@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100vh;
    font-family: "Red Hat Text";
}

.main-container{
    display: flex;
    width: 90%;
    height: auto;
    margin: 40px auto;
    padding: 20px 0px
}

.desserts-body{
    display:grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.waffle-image{
    width: 100%;
    height: 200px;
    background: url(/images/image-waffle-desktop.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.vanilla-bean-image{
    background: url(/images/image-creme-brulee-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.macaron-image{
    background: url(/images/image-macaron-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.tiramisu-image{
    background: url(/images/image-tiramisu-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.baklava-image{
    background: url(/images/image-baklava-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.pie-image{
    background: url(/images/image-meringue-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.cake-image{
    background: url(/images/image-cake-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.brownie-image{
    background: url(/images/image-brownie-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.panna-cotta-image{
    background: url(/images/image-panna-cotta-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.add-to-cart-button{
    border: 0.4px solid var(--red);
    border-radius: 20px;
    padding: 5px 15px;
    display: flex;
    cursor: pointer;
}

.add-to-cart-button img{
    padding-right: 6px;
}

.add-to-cart-button:hover{
    color: var(--red);
    border-color: var(--red);
}


/* ----------- JavaScript button starts here -------------- */

.add-cart-button-after-click{
    display: flex;
    align-items: center;
    border: 0.4px solid var(--red);
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1.1rem;
}

.add-cart-button-after-click .fa-circle-minus{
    padding-right: 25px;
}

.add-cart-button-after-click .fa-circle-plus{
    padding-left: 25px;
}

/* ----- JavaScript button ends here --------------------- */















.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}