@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid red;
    
}

body{
    width: 100%;
    height: 100vh;
    font-family: "Red Hat Text";
}

.main-container{
    display: flex;
    gap: 5rem;
    width: 60%;
    height: auto;
    margin: 40px auto;
    padding: 20px 0px;
    position: relative;
}

.desserts-body{
    display:grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    width: 100%;

}

/* ---------------- Cart starts here-------- */
.your-cart{
    width: 30%;
    height: auto;
    
}

.your-cart h3{
    color: var(--red);
}

.empty-cart p {
    color: var(--rose-400);
}

.cart-with-items{
    display:none;
    
}

#unordered-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    list-style-type: none;
}

/* .cart-with-items ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    list-style-type: none;
    
} */

.cart-with-items ul li {
    font-weight: 500;
    color: var(--rose-900);
    font-size: 0.9rem;
    
}

.calculation-unordered-list{
    display: flex;
    justify-content: space-between; 
}

.number-of-items{
    color: var(--red);
}

#unordered-price{
    color: var(--rose-400);
}

#unordered-list .fa-regular {
    color: var(--rose-400);
    padding-left: 100px;
}

#unordered-price-total{
    color: var(--rose-500);
}


.total-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.total-section p {
    color: var(--rose-500);
}

.grouped-total{
    color: var(--rose-900);
}

.carbon-neutral{
    display: flex;
    justify-content: center;
    margin-top: 30px auto;
}

.carbon-neutral p {
    color: var(--rose-400);
}

.carbon-neutral span {
    color: var(--rose-900);
    font-weight: 500;
}

.confirm-order{
    margin: 20px 0px;
    width: 100%;
    border-radius: 20px;
    color: var(--rose-100);
    background-color: var(--red);
    border: none;
    padding: 15px 0px;
    cursor: pointer;
}
/* -------- Cart ends here ----------------- */

.waffle-image{
    width: 100%;
    height: 200px;
    background: url(/images/image-waffle-desktop.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.vanilla-bean-image{
    background: url(/images/image-creme-brulee-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.macaron-image{
    background: url(/images/image-macaron-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.tiramisu-image{
    background: url(/images/image-tiramisu-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.baklava-image{
    background: url(/images/image-baklava-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.pie-image{
    background: url(/images/image-meringue-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.cake-image{
    background: url(/images/image-cake-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.brownie-image{
    background: url(/images/image-brownie-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.panna-cotta-image{
    background: url(/images/image-panna-cotta-desktop.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}


.add-to-cart-button{
    border: 0.4px solid var(--red);
    border-radius: 20px;
    padding:  5px;
    width: 80%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    top: 0%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: 0px auto;
}

.add-to-cart-button img{
    padding-right: 6px;
}

.add-to-cart-button:hover{
    color: var(--red);
    border-color: var(--red);
}


.product-details p{
    line-height: 1.7rem;
}

.product-title{
    color: var(--rose-500);
}

.full-product{
    font-weight: 500;
    color: var(--rose-900);
    font-size: 0.9rem;
}

.product-price{
    font-weight: 500;
    color: var(--red);
}

.header h1{
    color: var(--rose-900);
    padding-bottom: 40px;
}
.add-to-cart-button img{
    padding-right: 6px;
}

.add-to-cart-button:hover{
    color: var(--red);
    border-color: var(--red);
}





/* ----------popup modal starts here ------ */
.pop-up-modal{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.4);
    display: none;
    
}

.your-cart-pop-up{
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.your-cart-pop-up h1 {
    color: var(--rose-900);
    padding-bottom: 10px;
}

.your-cart-pop-up p {
    color: var(--rose-500);
    padding-bottom: 20px;
}

.pop-up-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#cancel-order{
    font-family: "Red Hat Text";
    border: none;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--rose-50);
    font-weight: 500;
    font-size: 0.8rem;
    padding: 10px;
    cursor: pointer;
}
.start-new-order{
    width: 100%;
    border-radius: 20px;
    color: var(--rose-100);
    background-color: var(--red);
    border: none;
    padding: 15px 0px;
    margin-top: 20px;
    cursor: pointer;
}

/* ---------- popup modal ends here -------- */


/* ----------- JavaScript button starts here -------------- */

.add-cart-button-after-click{
    display: flex;
    align-items: center;
    border: 0.4px solid var(--red);
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1.1rem;
}

.add-cart-button-after-click .fa-circle-minus{
    padding-right: 25px;
}

.add-cart-button-after-click .fa-circle-plus{
    padding-left: 25px;
}

/* ----- JavaScript button ends here --------------------- */


.attribution { 
    font-size: 12px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* -----------Media Queries -------------------- */
/* -----------Mobile Device -------------------- */

@media (max-width:480px){
    
    .main-container{
        display: block;
        width: 100%;
        margin: 0px auto;
        padding: 20px;
        position: relative;
    }
    
    .desserts-body{
        display:grid ;
        grid-template-columns: 1fr;

    }
    
    /* ---------------- Cart starts here-------- */
    .your-cart{
        width: 100%;
        margin:30px 0px;
    }

    /* -------- Cart ends here ----------------- */
    
    .waffle-image{
        width: 100%;
        height: 200px;
        background: url(/images/image-waffle-mobile.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .vanilla-bean-image{
        background: url(/images/image-creme-brulee-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .macaron-image{
        background: url(/images/image-macaron-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .tiramisu-image{
        background: url(/images/image-tiramisu-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .baklava-image{
        background: url(/images/image-baklava-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .pie-image{
        background: url(/images/image-meringue-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .cake-image{
        background: url(/images/image-cake-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .brownie-image{
        background: url(/images/image-brownie-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .panna-cotta-image{
        background: url(/images/image-panna-cotta-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    
    .add-to-cart-button{
        padding: 10px 35px;
        top: 0%;
        left: 40%;
        transform: translate(-50%, -50%);

    }

    /* ----------popup modal starts here ------ */
    .pop-up-modal{
        position: absolute;
        left: 0%;
        right: 0%;
        background-color: rgba(7, 7, 7, 0.4);
        display: none;
        
    }
    
    .your-cart-pop-up{
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
    
    /* ---------- popup modal ends here -------- */
    
    
    /* ----------- JavaScript button starts here -------------- */
    
    .add-cart-button-after-click{
        padding: 10px 35px;

    }

    /* ----------- JavaScript button ends here -------------- */
}


/* -----------Small Tablets -------------------- */

@media (min-width:481px) and (max-width:767px){
    
    .main-container{
        display: block;
        width: 100%;
        margin: 0px auto;
        padding: 20px;
        position: relative;
    }
    
    .desserts-body{
        display:grid ;
        grid-template-columns: 1fr;

    }
    
    /* ---------------- Cart starts here-------- */
    .your-cart{
        width: 100%;
        margin:30px 0px;
    }

    /* -------- Cart ends here ----------------- */
    
    .waffle-image{
        width: 100%;
        height: 200px;
        background: url(/images/image-waffle-mobile.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .vanilla-bean-image{
        background: url(/images/image-creme-brulee-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .macaron-image{
        background: url(/images/image-macaron-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .tiramisu-image{
        background: url(/images/image-tiramisu-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .baklava-image{
        background: url(/images/image-baklava-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .pie-image{
        background: url(/images/image-meringue-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .cake-image{
        background: url(/images/image-cake-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .brownie-image{
        background: url(/images/image-brownie-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .panna-cotta-image{
        background: url(/images/image-panna-cotta-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    
    .add-to-cart-button{
        width: 50%;
        top: 0%;
        left: 25%;
        transform: translate(-50%, -50%);

    }

    /* ----------popup modal starts here ------ */
    .pop-up-modal{
        position: absolute;
        left: 0%;
        right: 0%;
        background-color: rgba(7, 7, 7, 0.4);
        display: none;
        
    }
    
    .your-cart-pop-up{
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
    
    /* ---------- popup modal ends here -------- */
    
    
    /* ----------- JavaScript button starts here -------------- */
    
    .add-cart-button-after-click{
        padding: 10px 35px;

    }

    /* ----------- JavaScript button ends here -------------- */
}

/* ----------- Tablets -------------------- */

@media (min-width:768px) and (max-width:991px){
    
    .main-container{
        display: block;
        width: 100%;
        margin: 0px auto;
        padding: 20px;
        position: relative;
    }
    
    .desserts-body{
        display:grid ;
        grid-template-columns: repeat(2,1fr);

    }
    
    /* ---------------- Cart starts here-------- */
    .your-cart{
        width: 100%;
        margin:30px 0px;
    }

    /* -------- Cart ends here ----------------- */
    
    .waffle-image{
        width: 100%;
        height: 200px;
        background: url(/images/image-waffle-mobile.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .vanilla-bean-image{
        background: url(/images/image-creme-brulee-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .macaron-image{
        background: url(/images/image-macaron-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .tiramisu-image{
        background: url(/images/image-tiramisu-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .baklava-image{
        background: url(/images/image-baklava-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .pie-image{
        background: url(/images/image-meringue-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .cake-image{
        background: url(/images/image-cake-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .brownie-image{
        background: url(/images/image-brownie-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .panna-cotta-image{
        background: url(/images/image-panna-cotta-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    
    .add-to-cart-button{
        width: 50%;
        top: 0%;
        left: 25%;
        transform: translate(-50%, -50%);

    }

    /* ----------popup modal starts here ------ */
    .pop-up-modal{
        position: absolute;
        left: 0%;
        right: 0%;
        background-color: rgba(7, 7, 7, 0.4);
        display: none;
        
    }
    
    .your-cart-pop-up{
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
    
    /* ---------- popup modal ends here -------- */
    
    
    /* ----------- JavaScript button starts here -------------- */
    
    .add-cart-button-after-click{
        padding: 10px 35px;

    }

    /* ----------- JavaScript button ends here -------------- */
}



/* ----------- Tablets -------------------- */

@media (min-width:992px) and (max-width:1199px){
    
    .main-container{
        display: block;
        width: 100%;
        margin: 0px auto;
        padding: 20px;
        position: relative;
    }
    
    .desserts-body{
        display:grid ;
        grid-template-columns: repeat(2,1fr);

    }
    
    /* ---------------- Cart starts here-------- */
    .your-cart{
        width: 100%;
        margin:30px 0px;
    }

    /* -------- Cart ends here ----------------- */
    
    .waffle-image{
        width: 100%;
        height: 200px;
        background: url(/images/image-waffle-mobile.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .vanilla-bean-image{
        background: url(/images/image-creme-brulee-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .macaron-image{
        background: url(/images/image-macaron-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .tiramisu-image{
        background: url(/images/image-tiramisu-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .baklava-image{
        background: url(/images/image-baklava-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .pie-image{
        background: url(/images/image-meringue-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .cake-image{
        background: url(/images/image-cake-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .brownie-image{
        background: url(/images/image-brownie-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    .panna-cotta-image{
        background: url(/images/image-panna-cotta-mobile.jpg);
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    
    
    .add-to-cart-button{
        width: 50%;
        top: 0%;
        left: 25%;
        transform: translate(-50%, -50%);

    }

    /* ----------popup modal starts here ------ */
    .pop-up-modal{
        position: absolute;
        left: 0%;
        right: 0%;
        background-color: rgba(7, 7, 7, 0.4);
        display: none;
        
    }
    
    .your-cart-pop-up{
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
    
    /* ---------- popup modal ends here -------- */
    
    
    /* ----------- JavaScript button starts here -------------- */
    
    .add-cart-button-after-click{
        padding: 10px 35px;

    }

    /* ----------- JavaScript button ends here -------------- */
}